html { 
    background-color: hsla(66, 88%, 30%, 0.836); 
 } 
 
section { 
    color: rgb(91, 91, 91);
    background-color: ivory;
    font-family: Verdana, Geneva, sans-serif;
 }
 
h1 { 
    font-size: 2.2em; 
 } 
 
h2 { 
    font-size: 1.5em;
 }
 
nav > ul > li > a:link, nav > ul > li > a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
nav > ul > li > a:hover, nav > ul > li > a:active {
    color: rgb(47, 11, 247);
    text-decoration: underline;
  }
 
 footer { 
    background-color: rgb(99, 87, 79); 
    color: white; 
    color: rgba(255, 255, 255, 0.7); 
    font: normal small-caps bold 0.9em/3em  
          Quicksand, Verdana, Geneva, sans-serif; 
    text-align: center; 
 }
 
 
li style {
    height: 100px;
    width: 10px;
  }